h1 {
	font-family: Garamond; 
	color : #010000; 
	font-size: 180%;	
}
p  {
	font-family: Garamond; 
	color : #ABA8A8; 
	font-size: 120%;
	}

.gateway{
	min-width: 10%;
	max-width: 10%;
	margin-top: 20%;
	margin-left: 50%;
	margin-right: 50%;
	border: none;
	font-size: 16px;
}